.about {
    width: 100%;
    background: linear-gradient(7deg, white 68.6%, #1B1F3B 29%);
    display: grid;
    
    &-main {
        max-width: 1200px;
        margin: 1rem auto;
        padding: 40px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        justify-content: center;
        position: relative;

        @media screen and(max-width: 1200px) {
            padding: 40px 20px;
        }

        &-header {
            margin: 1rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-title {
                font-size: 5rem;
                color: white;
                font-weight: 500;
            }

            &-paragraph {
                font-size: 2.2rem;
                font-weight: 300;
                color: grey;
            }
        }

        &-middle {
            margin-top: 300px;

            &-paragraph {
                font-size: 1.8rem;
                text-align: start;
                padding: 7px 0;
                
                @media screen and(max-width: 700px) {
                    font-size: 1.4rem;
                }
            }

        }
    
    }

}

#website-link {
    font-weight: 400;
    color: $purple-light;
}

#squre-1 {
    position: absolute;
    width: 350px;
    height: 60px;
    background-color: #375ABB;
    transform: skew(-34deg) rotate(6.5deg);
    top: 330px;
    left: -50px;
}

#squre-2 {
    position: absolute;
    width: 350px;
    height: 60px;
    background-color: #dfdfdf;
    transform: skew(-34deg) rotate(6.5deg);
    top: 416px;
    left: 168px;
}

#squre-3 {
    position: absolute;
    width: 350px;
    height: 60px;
    background-color: pink;
    transform: skew(-35deg) rotate(6.5deg);
    top: 499px;
    right: -53px;
}

#squre-4 {
    position: absolute;
    width: 350px;
    height: 60px;
    background-color: #375ABB;
    transform: skew(-34deg) rotate(6.5deg);
    top: 546px;
    right: 95px;
}

#squre-5 {
    position: absolute;
    width: 350px;
    height: 60px;
    background-color: #ffdde1;
    transform: skew(-34deg) rotate(6.5deg);
    top: 377px;
    left: -150px;
}

// #ffdde1,
// #ee9ca7,
// rgb(223, 223, 223)
//#375ABB
//#313131


#squre-6 {
    position: absolute;
    width: 350px;
    height: 60px;
    background-color: #ffdde1;
    transform: skew(-34deg) rotate(6.5deg);
    top: 220px;
    right: -170px;
}

#squre-7 {
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #dfdfdf;
    transform: skew(-34deg) rotate(6.5deg);
    top: 469.3px;
    right: 260px;
}

#squre-8 {
    position: absolute;
    width: 350px;
    height: 60px;
    background-color: #313131;
    transform: skew(-34deg) rotate(6.5deg);
    top: 450px;
    right: -188px;
}

#squre-9 {
    position: absolute;
    width: 350px;
    height: 60px;
    background-color: #313131;
    transform: skew(-34deg) rotate(6.5deg);
    top: 450px;
    left: -50px;
}