@keyframes buttonGlow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}


@keyframes moveUp1 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -35px);
    }
}

@keyframes moveUp {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -60px);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes makeItBig {
    0% {
        transform: scale(1);
    };
    50%{
        transform: scale(1.05);
        text-shadow: 5px 5px 1px black;
    };
    100%{
        transform: scale(1);
    };
}

@keyframes animatetop {
    from {
        top:-300px; 
        opacity:0;
    }
    to {
        top:0; 
        opacity:1;
    }
}