//COLORS
$blue-dark:  #0062ff;
$blue-dark1:  #0043af;
$blue-dark-black: #273444;
$blue-light: #87cefa;
$turquoise: #00cdac;
$turquoise-light: #8ddad5;
$purple: #7575ff75;
$purple-light: #7777ff;
$pink: #ffa4d5;
$pink-light: #ffabd8;
$green: #43ba43;
$green-light: #3ecf8e;
$grey-dark: #666;
$grey-dark2: #383838;
$grey-dark3: #272727;
$grey-light: #ebebeb;
$purple: #39054e;
$main-color: #000000;
$orange: #ffb43c;
$orange-dark: #ff7b00;
$orange-light: #ffdf76;
$orange-red: #FF5630;
$red: #ff3c3c;
$red-dark: #c82027;
$white: #ffffff;
$yellow: #fc0;
$title: #1d1d5c;

$grey-dark3: #242424;

$color-primary:  #55c57a;
$color-primary-light:  #7ed56f;
$color-primary-dark:  #28b485;

$color-secondry-light: #ffb900;
$color-secondry-dark: #ff7730;


$color-tertiary-light-1: #9fd1ff;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//FONT-SIZE
$small-size: 1rem;
$medium-size: 1.5rem;
$large-size: 2rem;
$xl-size: 3rem;
$xxl-size: 4rem;

//FONT-FAMILY
$Rubik-font: 'Rubik', sans-serif;
$sans-serif: sans-serif;

//GRID
$break-small: 576px;
$break-medium: 768px;	
$break-large: 992px;
$break-extra-large: 1200px;