.mainContent {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @media screen and(max-width: 1250px) {
        padding: 80px 20px 0 20px;
    }

    &-new {
        color: white;
        color: #1d1d5c;
        margin-top: 100px;
        font-weight: 300;
        font-size: 1.5rem;
        padding: 5px 8px 5px 15px;
        border-radius: 15px;
        justify-content: flex-start;
        display: inline-flex;
        background-color: rgba(233, 233, 233, 0.7);
        // background-color: rgba(255, 214, 143, 0.6);
        cursor: pointer;
    

        span {
            background-color: $orange;
            padding: 0px 7px;
            border-radius: 15px;        
            margin-left: 6px;
        }
    }

    &-paragraph {
        margin-top: 25px;
        text-align: start;

        &-title {
            font-size: 6rem;
            font-weight: 400;
            color: white;
            color: #1d1d5c;
            // color: rgb(255, 214, 143);
            margin: 10px 0;
            // text-shadow: 1px 3px 3px black;
        }

        &-title2 {
            font-size: 3.5rem;
            font-weight: 300;
            color: white;
            color: #1d1d5c;
            margin: 10px 0;
            // text-shadow: 1px 3px 3px black;
        }
        
        &-text {
            font-size: 2rem;
            color: white;
            color: #1d1d5c;
            margin: 10px 0;
            // text-shadow: 1px 1px 3px black;
            max-width: 600px;
            line-height: 30px;
            letter-spacing: 1px;
        }
    }

    &-buttons {
        display: flex;
        margin-top: 30px;
        margin-bottom: 400px;

        &-left {
            margin: 15px;
            background-color: white;
            border: 2px solid $blue-dark;
            font-size: 1.8rem;
            padding: 12px 50px;
            color: $blue-dark;
            border-radius: 10px;
            transition: .5s;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 1px 5px 10px grey;
            }   
        }
        
        &-right {
            margin: 15px 0;
            border: 2px solid $blue-dark;
            background-color: $blue-dark;
            font-size: 1.8rem;
            padding: 12px 50px;
            color: white;
            border-radius: 10px;
            transition: .5s;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 1px 5px 10px grey;
            }   
        }
    }
}

#Link {
    text-decoration: none
}