.header {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.735) 0%, rgba(126,126,126,0.1) 45%, rgba(255, 255, 255, 0.057) 100%) , url('https://storage.googleapis.com/turboair-israel/general-images/kitchen-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    height: 100%;
}