//COLORS
$blue-dark:  #0062ff;
$blue-dark1:  #0043af;
$blue-light: #87cefa;
$green: #43ba43;
$green-light: #3ecf8e;
$grey-dark: #666;
$grey-dark2: #383838;
$grey-light: #ebebeb;
$purple: #39054e;
$main-color: #000000;
$orange: #ffb43c;
$orange-dark: #ff7b00;
$orange-light: #ffdf76;
$red: #ff3c3c;
$red-dark: #c82027;
$white: #ffffff;
$yellow: #fc0;

$grey-dark3: #242424;

//FONT-SIZE
$small-size: 1rem;
$medium-size: 1.5rem;
$large-size: 2rem;
$xl-size: 3rem;
$xxl-size: 4rem;

//FONT-FAMILY
$Rubik-font: 'Rubik', sans-serif;
$sans-serif: sans-serif;

//GRID
$break-small: 576px;
$break-medium: 768px;	
$break-large: 992px;
$break-extra-large: 1200px;