.authorizedSellers {

    &__section {
        width: 100%;
        height: 380px;
        background-color: $grey-dark;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url('https://storage.googleapis.com/turboair-israel/general-images/stores.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        position: relative;

        &-title {
            color: white;
            margin-bottom: 20px;
            font-size: 7rem;
            text-shadow: 1px 2px 5px gray;
            text-align: center;
            z-index: 10;

            @media screen and(max-width: 700px) {
                font-size: 4rem;
            }
        }
    }

    &-main {
        max-width: 1200px;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &-para {
            font-size: 2rem;
            margin: 2rem 0;
        }
    
        &-chart {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 2rem 0;
    
            &-header {
                display: flex;
                text-align: end;
                font-size: 1.5rem;
                font-weight: bolder;
                align-items: flex-end;
                
                h1 {
                    flex: 1;
                    border: 1px solid black;
                    text-align: center;
                    font-weight: 700;
                    margin: 0;

                    @media screen and(max-width: 700px) {
                        font-size: 2rem;
                    }
                }
                
            }
            
            &-line {
                display: flex;
                text-align: end;
                justify-content: space-around;
    
                p {
                    flex: 1;
                    font-size: 1.8rem;
                    border: 1px solid black;
                    text-align: center;
                    margin: 0;

                    @media screen and(max-width: 700px) {
                        font-size: 1.4rem;
                    }
                }
                
            }
        }
    }

}