.brandAbout {
    background: 
    linear-gradient(189deg,  
    #f6f9fc 70%,
    rgba(255, 255, 255, 1) 50%);
    width: 100%;
    padding-bottom: 250px;
    padding-top: 50px;

    @media screen and(max-width: 1250px) {
        padding: 0px 20px 200px 20px;
    }
    
    @media screen and(max-width: 1000px) {
        margin-top: -150px;
        padding-bottom: 500px;
    }
    
    &__section {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;

        @media screen and(max-width: 1000px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-about {
            width: 40%;
            margin-left: auto;
            text-align: start;

            @media screen and(max-width: 1000px) {
                width: 100%;
                padding: 20px;
            }

            @media screen and(max-width: 600px) {
                padding: 20px 0;
            }
            
            &-title {
                font-size: 2rem;
                margin: 10px;
                color: $grey-dark;

                @media screen and(max-width: 1000px) {
                    text-align: center;
                }
            }
            
            &-text {
                color: grey;
                font-size: 1.6rem;
                margin: 10px;
                line-height: 30px;
                letter-spacing: 1px;

                @media screen and(max-width: 600px) {
                    width: 100%;
                    margin: 10px 0 10px 10px;
                }
            }
        }
    
        &-composition {
            position: relative;
            width: 50%;
        
            &__photo {
                width: 55%;
                box-shadow: 0 1.5rem 4rem rgba(black, .4);
                border-radius: 2px;
                position: absolute;
                z-index: 10;
                transition: all .2s;
                outline-offset: 2rem;

                @media screen and(max-width: 700px) {
                    width: 80%;
                }
        
                &--p1 {
                    left: -60px;
                    top: -2rem;
        
                    @media screen and(max-width: 1000px) {
                        top: 0;
                    }

                    @media screen and(max-width: 700px) {
                        left: -80px;
                    }
                }
        
                &--p2 {
                    right: 0;
                    top: 2rem;

                    @media screen and(max-width: 1000px) {
                        top: -5px;
                        right: -20px;
                        
                    }

                    @media screen and(max-width: 700px) {
                        right: -80px;
                        top: -10px;
                        
                    }
                }
        
                &--p3 {
                    left: 20%;
                    top: 10rem; 

                    @media screen and(max-width: 1000px) {
                        top: 5rem;
                        left: 90px;
                    }

                    @media screen and(max-width: 700px) {
                        left: 40px;
                        top: 7rem;
                    }
                }
        
                &:hover {
                    transform: scale(1.05) translateY(-.5rem);
                    box-shadow: 0 2.5rem 4rem rgba(black, .5);
                    z-index: 20;
                }
            }
        
            &:hover &__photo:not(:hover) {
                transform: scale(.95);
            }
        }
    }

}