.searchModal {
    padding: 0;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    position: absolute;
    left: 30%;
    right: 30%;
    top: -70px;
    z-index: 10000;
    transition: .3s;
    border-radius: 20px;

    @media screen and(max-width: 1000px) {
        left: 5%;
        right: 5%;
    }
    
    input {
        border: none;
        z-index: 10000000;
        width: 100%;
        padding: 20px 45px 20px 20px;
        border-radius: 5px;
        font-size: 2rem;
        outline: none;

        &::placeholder {
            color: rgb(150, 150, 150);
        }
    }
}


#search2 {
    position: absolute;
    right: 0;
    z-index: 10000000;
    padding: 11px;
    cursor: pointer;
    border-radius: 17px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: rgb(150, 150, 150);
    font-size: 30px;
    outline: none;
}