.learnMore {
    width: 100%;
    border-top: 1px solid rgba(160, 160, 160, 0.322);
    padding-top: 10rem;

    &-stores {
        position: relative;
        display: flex;
        max-width: 1200px;
        padding: 3rem 0 7rem 0;
        margin: 0 auto;
        justify-content: space-around;
        transition: .3s;
        cursor: pointer;

        &-name {
            font-size: 2rem;
            color: grey;
            font-weight: 500;
        }
    }
}


