.contactPage {
    margin: 0 auto auto auto;
    display: flex;
    flex-direction: column;
    background: 
    linear-gradient(36deg, #313131 42.34%, transparent 42.34%),
    linear-gradient(72deg, #FB8F8A 75.48%, transparent 75.48%),
    linear-gradient(-36deg, #dfdfdf 42.34%, transparent 42.34%) 100% 0, 
    linear-gradient(-72deg, #1B1F3B 75.48%, transparent 75.48%) 100% 0;
    // linear-gradient(36deg, #375ABB 42.34%, transparent 42.34%),
    // linear-gradient(to right, #ffdde1, #ee9ca7),
    
    &-top {
        z-index: 100;
        
        &-title {
            text-align: center;
            font-size: 4rem;
            font-weight: 500;
            margin-top: 10rem;
            margin-bottom: 2rem;
        }
        
        &-second {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 300;
            color: rgb(95, 95, 95);
            margin-bottom: 15rem;

            @media screen and(max-width: 600px) {
                font-size: 2rem;
                padding: 0 20px;
            }
        }
    }
    

    &-main {
        margin: 0rem auto 10rem auto;
        max-width: 1200px;
        display: flex;

        @media screen and(max-width: 1300px) {
            padding: 20px;
        }

        @media screen and(max-width: 900px) {
            flex-direction: column;
            
        }

        &-location {
            display: flex;
            flex-direction: column;
            margin-left: auto;

            @media screen and(max-width: 900px) {
                flex-direction: row;
                justify-content: space-between;
            }

            @media screen and(max-width: 600px) {
                flex-direction: column;
                align-items: center;
            }

        }
    }
}