.navbar {
    padding: 10px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and(max-width: 1250px) {
        padding: 10px 20px;
    }

    @media screen and(max-width: 1001px) {
        display: none;
    }

    &-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0px;
        border-bottom: 1px solid rgba($grey-dark3, 0.1);
        width: 100%;

        &-language {
            display: flex;
            align-items: center;
            margin-right: auto;

            img {
                width: 23px;
                height: 18px;
            }
            
            p {
                font-size: 1.4rem;
                color: $grey-dark3;
                margin: 0 auto 0 5px;
            }
        }

        &-right {
            color: white;
            display: flex;
            align-items: center;
            margin-left: 20px;
            z-index: 1000000000;
            transition: .3s;
            position: relative;


            &-drop {
                transition: .3s;

                &:first-child {
                    padding-left: 20px;
                }

                &:nth-child(2) {
                    padding-left: 20px;
                }
                
                &:last-child {
                    position: absolute;
                    right: -18px;
                    top: 2px;
                    padding-right: 20px;
                }

                &-quantity {
                    position: absolute;
                    font-size: 12px;
                    color: $grey-dark3;
                    margin: 0;
                    top: -16px;
                    right: 5px;
                }
            }
        }
    }
    
    &-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
    
        &-left {
            color: $grey-dark;
            display: flex;
            font-size: 3.5rem;
            font-weight: 500;
            width: 35%;
            
            @media screen and(max-width: 600px) {
                width: 50%;
                padding-left: 10px;
            }
        }
        
        &-right {
            display: flex;
            margin-left: auto;
            width: 45%;
            position: relative;

            @media screen and(max-width: 1000px) {
                display: none;
            }
            
            &-drop {
                margin-left: 8rem;
                cursor: pointer;
                display: flex; 
                align-items: center;
                justify-content: flex-start;
                transition: .2s;
                padding: 18px 0;
                position: relative;
                font-size: 1.6rem;
                font-weight: 300;
            }
        }
    }
}
  
#search,
#cart,
#close {
    cursor: pointer;
    font-size: 2rem;
    color: $grey-dark3;
    outline: none;
}

.products-nav {
    color: $blue-dark;
    transition: .3s;
    font-weight: 500;

    &:hover {
        color: white;
    }
}

#arrow-down {
    margin-right: 8px;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
}

.dropdown-menu {
    position: absolute;
    outline: none;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    border-radius: 7px;
    white-space: nowrap;
    
    @media screen and(max-width: 1000px) {
        transform: translate3d(-235px, 27px, 0px) !important;
    }

    &-square {
        content: '';
        position: absolute;
        top: -7px;
        left: 50%;
        z-index: -1;
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        background-color: white;
    }
}

.dropdown-item {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .3s;

    &:hover {
        transform: scale(1.05);
        border-radius: 7px;
        box-shadow: 1px 1px 10px grey;
    }
}

.dropdown-toggle {
    font-size: 1.6rem;
    color: $grey-dark3;
    outline: none;

    &::after {
        display: none;
    }
}

.btn-group {
    margin-left: 8rem;
    display: flex;
    justify-content: flex-start;
    outline: none;
    transition: .3s;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }