.navbar {
    padding-top: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    &__inner {
        width: 1200px;
        display: flex;
        z-index: 1000;
        align-items: center;
        margin: 0 auto;
        position: relative;

        @media screen and(max-width: 1200px) {
            padding: 0 20px;
        }

        @media screen and(max-width: 600px) {
            padding: 0;
        }
    
        &-left {
            color: white;
            display: flex;
            font-size: 3.5rem;
            font-weight: 500;
            width: 35%;
            
            @media screen and(max-width: 600px) {
                width: 50%;
                padding-left: 10px;
            }
        }
        
        &-middle {
            display: flex;
            color: white;
            margin-left: auto;
            width: 45%;
            position: relative;

            @media screen and(max-width: 1000px) {
                display: none;
            }
            
            &-drop {
                color: white;
                cursor: pointer;
                width: 25%;
                display: flex;
                justify-content: center;
                transition: .2s;
                padding: 18px 0;
                position: relative;
                font-size: 1.6rem;
                font-weight: 300;
            }
        }
        
        &-right {
            color: white;
            display: flex;
            width: 8%;
            margin-left: 20px;
            transition: .3s;
            position: relative;

            @media screen and(max-width: 1000px) {
                margin-left: auto;
            }

            @media screen and(max-width: 600px) {
                width: 50%;
            }

            &-drop {
                position: relative;
                margin: 0;
                transition: .6s;

                @media screen and(max-width: 600px) {
                    margin: 0;
                }

                button {
                    background-color: transparent;
                    border: none;
                }

                &:first-child {
                    padding-left: 10px;
                }

                &:nth-child(2) {
                    padding-right: 10px;
                    border-right: 2px solid white;

                    @media screen and(max-width: 600px) {
                        right: 0;
                        top: -10px;
                    }
                }
                
                &:last-child {
                    position: absolute;
                    right: -20px;
                    padding-right: 20px;
                }

                &-quantity {
                    position: absolute;
                    font-size: 12px;
                    border-radius: 50%;
                    background-color: rgb(63, 63, 63);
                    padding: 4px 7.5px;
                    color: white;
                    margin: 0;
                    z-index: 100;
                    top: -20px;
                    left: 14px;

                    @media screen and(max-width: 1000px) {
                        display: none;                       
                    }
                }
            }
        }
    }
}
  
#search,
#cart,
#close {
    cursor: pointer;
    font-size: 2.3rem;
    color: white;
    outline: noen;

    @media screen and(max-width: 1000px) {
        display: none;                       
    }
}

#close {
    position: absolute;
    outline: none;
}