.footer {
    background-color: #f6f9fc;
    width: 100%;
    padding-top: 50px;

    
    &-line {
        background-color: rgba(160, 160, 160, 0.322);
        height: 1px;
        margin: 0;
        border: none;
    }

    &__section {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 150px 0;

        // @media screen and(max-width: 1300px) {
        //     padding: 15rem 20px 20rem 20px;
        // }
    
        // @media screen and (max-width: 600px) {
        //     flex-direction: column;
        //     padding: 5rem 20px 5rem 20px;
        // }


        &-companyDetails {
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 100%;
            
            @media screen and (max-width: 600px) {
                align-items: center;
                margin: 20px 0;
            }

            &-title {
                font-size: 1.7rem;
                font-weight: 600;
                color: grey;
            }

            p {
                font-size: 1.5rem;
                font-weight: 300;
                margin-top: 1rem;
                color: grey;
                display: flex;
                align-items: center;
            }
        }
            
        &-websites {
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 100%;

            @media screen and (max-width: 600px) {
                text-align: center;
                margin: 20px 0;
            }

            &-title {
                font-size: 1.7rem;
                font-weight: 600;
                color: grey;

                @media screen and (max-width: 600px) {
                    text-align: center;
                }
            }

            &-brandName {
                font-size: 1.5rem;
                font-weight: 300;
                text-align: start;
                margin-top: 1rem;
                text-decoration: none;
                color: grey;
                
                @media screen and (max-width: 600px) {
                    text-align: center;
                }
                
                &:hover {
                    color: $purple-light;
                    text-decoration: none;
                }
            }
        }

        &-navigation {
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 100%;

            @media screen and (max-width: 600px) {
                text-align: center;
                margin: 20px 0;
            }

            &-title {
                font-size: 1.7rem;
                font-weight: 600;
                color: grey;
            }

            p {
                color: grey;
                font-size: 1.5rem;
                transition: .3s;
                margin-top: 1rem;
                text-decoration: none;

                &:hover {
                    color: $purple-light;
                }
            }
        }
    }
}